body {
    font-family: 'Poppins', sans-serif !important;
}

.step-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.step-indicator span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #2d5d66;
    display: inline-block;
    margin: 0 10px;
}

.payment-box {
    background-color: #fff6dd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.summary-box {
    background-color: #fff6dd;
    border-radius: 12px;
    padding: 20px;
    height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.bank-option img {
    height: 40px;
}

.bank-option {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 16px;
    margin: 5px;
    background-color: #fff6dd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bank-option.selected {
    background-color: #f0dfaa;
    /* lebih gelap sedikit */
    border-color: #aa8d2c;
}

.btn-bayar {
    background-color: #5c2c27;
    color: #fff6dd;
    border-radius: 50px;
    padding: 10px 40px;
    font-weight: bold;
    border: none;
}

.btn-bayar:hover {
    background-color: #793e37;
    color: #fff6dd;
}


/* step tracker */

.stepper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
}

.step {
    text-align: center;
    position: relative;
    flex: 1;
}

.step:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 12px;
    right: -50%;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    z-index: 0;
}

.step:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -50%;
    height: 2px;
    width: 100%;
    background-color: #ccc;
    z-index: 0;
}

.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #2d7c7c;
    background-color: #FFFBEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.active .circle {
    background-color: #2d7c7c;
}

.completed .circle {
    background-color: #FFFBEF;
    color: #2d7c7c;
}

.completed .circle::before {
    content: "✔";
    font-size: 14px;
}

.step-label {
    font-size: 14px;
    margin-top: 6px;
}
