.color_primary {
    background-color: #fdc307;
}

/* body {
    background-color: #fffbef;
    text-align: justify;
    font-family: 'poppins';
} */

.mt-custom{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.titleSearch{
    font-size: 40px;
    color: #52282A;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.search-bar{
    width: 850px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 2rem;
    padding-left: 20px;
    border-radius: 100px;
    border-color: #52282A;
    border-width: 2px;
    margin-top: 2.5rem;
    background-color: #fffbef;
}

.search-bar:focus{
    outline: none;
    box-shadow: 0 0 5px rgba(82, 40, 42, 0.5);
    border-color: #52282A;
}

.card{
    border-radius: 30px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width: 260px;
}
.card-img-top{
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 30px;
    margin: 2px;
}

.card-title{
    font-size: 17px;
    color: #52282A;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 7px;
    margin-top: 9px;
}

.card-subtitle{
    font-size: 15px;
    color: #52282A;
    font-weight:normal;
    margin-left: 20px;
    margin-bottom: 10px;
}

.card-price{
    font-size: 25px;
    color: #52282A;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-custom{
    background-color: #fdc307;
    color: #52282A;
    margin-right: 20px;
    margin-bottom: 20px;
    background-position-y: center;

    &:hover {
        background-color: #52282A;
        color: #fdc307;
    }
}

@media (max-width: 768px){
    .search-bar{
        max-width: 350px;
        height: 50px;
        border-color: #52282A;
        margin-top: 1rem;
    }

    .titleSearch{
        font-size: 35px;
        margin-top: 2rem;
        margin-right: 0.3rem;
    }

    .card{
        max-width: 175px;
        max-height: 300px;
        border-radius: 15px;
    }


    .card-title{
        font-size: 15px;
    }

    .card-subtitle{
        font-size: 12px;
    }

    .card-price{
        font-size: 20px;
    }

}
