/* Warna utama */
.color_primary {
    background-color: #fdc307;
}

/* Navbar */
.navbar {
    height: 70px;
    min-height: 70px;
    transition: height 0.3s ease;
}

/* Navbar link */
.nav-link {
    position: relative;
    font-style: semi-bold;
}

.nav-link::after {
    transition: all 0.2s;
    opacity: 0;
}

.nav-link:hover {
    text-decoration: 5px underline #52282a;
}

/* Burger sidebar */
.offcanvas-start.sidebar {
    width: 50%;
    background-color: #fdc307;
}

.offcanvas-backdrop.show {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

/* Logo */
.logo-burger img,
.navbar-brand img {
    display: block;
    position: relative;
    top: 7px;
}

/* Active link */
.nav-link.active {
    border: 2px solid #52282a;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #fdc307;
    color: #52282A !important;
}

/* Language flag icon */
#flag-icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* Cart & Profile icon */
.bi-cart3,
.bi-person-circle {
    color: #52282A;
}

/* Responsive adjustment */
@media (max-width: 576px) {
    .navbar {
        height: auto !important;
    }

    .navbar-collapse {
        display: block;
        width: 100%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        padding-bottom: 1rem;
        color: #52282A;
    }

    .logo-cemilku {
        width: 250px;
        position: relative;
        top: 7px;
    }

    .nav-link:hover {
        text-decoration: none;
    }

    .nav-link.active {
        border: 2px solid #52282a;
        border-radius: 10px;
        padding: 5px 10px;
        background-color: #fdc307;
        color: #52282A !important;
    }
}
