.color-primary {
    background-color: #fdc607;
}

.nav-link {
    position: relative;
    /* font-family: 'poppins';  */
    font-style: semi-bold;
}

.nav-link::after {
    transition: all 0.2s;
    opacity: 0;
}

.nav-link:hover {
    /* border-bottom:3px solid #52282a; */
    text-decoration: 5px underline #52282a;
}

.navbar {
    min-height: 70px;
    height: 70px;
    transition: height 0.3s ease;
    background: #fdc607;
}

#app{
    background-color: #fffbef;
    text-align: justify;
    font-family: 'poppins';
}

main{
    margin-top: 70px;
}
